# Connection to MongoDB
MONGO_URL=mongodb://mongodb:27017
DB_NAME=prod_database

# URL, на который OnlyonePays ожидает 307-redirect при проверке вебхука
WEBHOOK_REDIRECT_URL=https://cb.boogienwoogie.com/webhook/tbank
